* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap');

body {
    background-color: #E2EFF4;
}

.container_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    height: 15vh;
    background-color: #128596;

}

.container_mobile {
    display: none;
}

.container_box {
    overflow: hidden;
}

.container_box--logo {
    width: 5vw;

}

.container_box--logo:hover {
    transform: scale(120%);
    cursor: zoom-in;
    transition: 2s ease-in-out;

}

.container_menu {
    width: 40%;
    color: #FFFFFF;
    margin-left: 10vw;
}

.container_menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.5vw;
    cursor:pointer;
}

.container_header input {
    border: solid 1px;
    height: 4vh;
    width: 180px;
    border-radius: 20px;
    margin-right: 5vw;
    padding: 8px;
}

.container_header input::placeholder {
    background-image: url('./assets/image\ 1.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px;
    text-align: center;
    text-transform: capitalize;
    padding: 2vh;
    color: #636060;
    font-size: 1rem;
}

/* main*/

.container_main {
    max-width: 1600px;
    width: 100%;
    margin: auto;

}


.container_background {
    background-image: url('./assets/image\ 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 132vh;
}

.container_main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    height: 60%;
}

.container_main_text h1 {
    color: #128596;
    font-size: 4.5vw;
    font-weight: 500;
    padding: 4vw;
    text-shadow: 2px 2px 1px #636060;
}



.container_main_text ul {
    list-style: none;
    font-size: 2vw;
    padding-left: 4vw;
    ;
}

.container_main_text li {
    margin-top: 1vh;
    height: 7vh;
    color: #D56E0E;
    font-weight: 300;
}

.container_main_text li:hover {
    cursor: pointer;
    padding: 6px;
    background-color: #FEBD81;
    opacity: 0.8;
}

.container_main_box {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 120vh;
}

.container_box--title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_box--title h2 {
    text-align: center;
    font-size: 4vw;
    color: #128596;
    font-weight: 300;
    text-shadow: 2px 1px 1px #636060;

}

.container_box--title h2::before {
    content: '';
    border-bottom: solid;
    width: 25vw;
    height: 2vh;
    color: #6989964D;
    position: absolute;
    left: 500px;
    bottom: -420px;
}

.container_box--division {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 70%;
}

.container_box--figureLula,
.container_box--figurePat,
.container_box--figureSiri,
.container_box--figurePlan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 30vh;
    background-color: #128596;
}



.container_box--btn {
    position: relative;
    bottom: -15px;
    background-color: #BF7A59;
    color: #E2EFF4;
    border: none;
    border-radius: 10px;
    width: 5vw;
    height: 6vh;
    font-weight: 300;
    cursor: pointer;
}



.container_box--btnP {
    position: relative;
    bottom: -78px;
    background-color: #BF7A59;
    color: #E2EFF4;
    border: none;
    border-radius: 10px;
    width: 5vw;
    height: 6vh;
    font-weight: 300;
}

@keyframes container_box--figure {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

.container_box--figureLula:hover::before {
    content: 'Lula Molusco: Vizinho do Bob Esponja';
    height: 10vh;
    width: 13vw;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border-radius: 0 0 20px 20px;
    position: absolute;
    color: #E2EFF4;
    background-color: #BF7A59E5;
    animation: container_box--figure 1.5s ease-in-out both;
    cursor: pointer;
    opacity: 0.6;

}

.container_box--figurePat:hover::before {
    content: 'Patrick: Melhor amigo do Bob Esponja';
    height: 10vh;
    width: 13vw;
    font-size: 1rem;
    text-align: center;
    border-radius: 0 0 20px 20px;
    position: absolute;
    color: #E2EFF4;
    background-color: #BF7A59E5;
    animation: container_box--figure 1.5s ease-in-out both;
    cursor: pointer;
    opacity: 0.8;

}

.container_box--figureSiri:hover::before {
    content: 'Sr.Sirigueijo: Patrão do Bob Esponja';
    height: 10vh;
    width: 13vw;
    font-size: 1rem;
    text-align: center;
    border-radius: 0 0 20px 20px;
    position: absolute;
    color: #E2EFF4;
    background-color: #BF7A59E5;
    animation: container_box--figure 1.5s ease-in-out both;
    cursor: pointer;
    opacity: 0.8;

}

.container_box--figurePlan:hover::before {
    content: 'Plankton: Super Vilão do Bob Esponja';
    height: 10vh;
    width: 13vw;
    font-size: 1rem;
    text-align: center;
    border-radius: 0 0 20px 20px;
    position: absolute;
    color: #E2EFF4;
    background-color: #BF7A59E5;
    animation: container_box--figure 1.5s ease-in-out both;
    cursor: pointer;
    opacity: 0.8;

}

.container_box--image {
    width: 10vw;
    height: 25vh;
}

.container_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    height: 15vh;
    background-color: #128596;
}

.container_footer p {
    font-size: 1vw;
    padding: 2vw;
    width: 40%;
}

.container_footer img {
    width: 3.5vw;
    margin-right: 2vw;
}

@media(max-width:800px) {
    .container_box {
        width: 45%;
    }

    .container_box--logo {
        width: 17vw;
    }

    .container_mobile {
        display: initial;
    }

    .container_mobile--menu {
        width: 10vw;
    }

    .container_menu {
        display: none;
    }

    .container_header input {
        display: none;
    }

    .container_background {
        height: 80vh;
        width: 100%;
        background-position: center;
    }

    .container_box--title h2::before {
        display: none;
    }

    .container_main_text {
        width: 100%;
    }

    .container_main_text h1 {
        font-size: 8vw;
        text-align: center;
    }

    .container_main_text ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
    }

    .container_main_text li {
        font-size: 5vw;
        text-align: left;
        padding: 2vw;
        width: 60%;
        color: green;
    }


    .container_main_text li:hover {
        cursor: pointer;
        padding: 2vw;
        background-color: #FEBD81;
        opacity: 0.6;
        height: 5vh;
    }

    .container_box--title h2 {
        font-size: 7vw;
    }

    .container_box--figureLula,
    .container_box--figurePat,
    .container_box--figureSiri,
    .container_box--figurePlan {
        width: 40%;
        height: 20vh;
    }

    .container_box--division {
        height: 90%;
    }

    .container_box--btn {
        bottom: -15px;
        border-radius: 8px;
        width: 20vw;
        height: 7vh;
    }
    
    
    
    .container_box--btnP {
        top:30px;
        border-radius: 8px;
        width: 20vw;
        height: 6vw;
    }


.container_box--figureLula:hover::before {
    height: 8vh;
    width:30vw;
    font-size: 0.9rem;
    border-radius: 0 0 10px 10px;
    opacity: 0.6;

}

.container_box--figurePat:hover::before {
    height: 8vh;
    width:30vw;
    font-size: 0.9rem;
    border-radius: 0 0 10px 10px;
    opacity: 0.6;

}

.container_box--figureSiri:hover::before {
    height: 8vh;
    width:30vw;
    font-size: 0.9rem;
    border-radius: 0 0 10px 10px;
    opacity: 0.6;

}

.container_box--figurePlan:hover::before {
    height: 8vh;
    width:30vw;
    font-size: 0.9rem;
    border-radius: 0 0 10px 10px;
    opacity: 0.6;

}

.container_footer p{
    font-size:2.5vw;
}

.container_footer img{
    width: 5vw;
}
}

@media(min-width:1920px) {
    .container_menu {
        padding: 0;
    }

    .container_menu ul {
        font-size: 1.8vw;
        font-weight: 700;
    }

    .container_header input {
        width: 8vw;
        height: 4vh;
    }

    .container_box--title h2::before {
        display: none;
    }
}